<div class="col-md-6 offset-md-3">
  <div class="new-review-form">
    <% provide :button_text, "Create Review" %>
    <h1 class="text-center">New Review</h1>
    <%= render "form" %>
  </div>
</div>
